.button {
    -fx-background-color: #e74c3c;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-effect: dropshadow(gaussian, gray, 10, 0.5, 5, 5); /* Thay thế cho box-shadow */
}


.label {
    -fx-font-size: 20px;
    -fx-text-fill: #2ecc71;
    -fx-background-color: #3498db; /* Thay thế cho background */
}